@charset "utf-8";
$horizon: 15;
$vertical: 15;
$boxSize: 30;
@function sizer($size) {
	@return $size+px;
}

body {
	margin: 0;
	background: #000;
}

.main {
	float: left;
	width: sizer($boxSize * ($horizon + (.1 * $horizon * 2)));
	height: sizer($boxSize * ($vertical + (.1 * $vertical * 2)));
	font-size: 0;
	background: #fff;
}

aside {
	overflow: auto;
	float: left;
	width: calc(100% - #{sizer($boxSize * ($horizon + (.1 * $horizon * 2)))});
	height: sizer($boxSize * ($vertical + (.1 * $vertical * 2)));
	;
	color: #000;
	background: #fff;

	@media screen and (max-width: 540px) {
		width: sizer($boxSize * ($vertical + (.1 * $vertical * 2)));
		height: calc(100vh - #{sizer($boxSize * ($vertical + (.1 * $vertical * 2)))})
	}
}

input {
	display: inline-block;
	width: sizer($boxSize);
	height: sizer($boxSize);
	margin: sizer($boxSize / 10);
	text-align: center;
	box-sizing: border-box;
	line-height: sizer($boxSize);
	font-size: sizer($boxSize * .7);
	&[readonly] {
		visibility: hidden;
	}
}