@charset "UTF-8";
@import "./spritesmith-generated/sprite";
@include sprites($spritesheet-sprites);
body {
    margin: 0;
    padding: 0;
    background: #000;
}

.map {
    padding-top: .5%;
    &:before {
        float: left;
        width: .5%;
        margin-top: -.5%;
        padding-top: 100%;
        content: '';
    }
    &:after {
        display: block;
        clear: both;
        content: '';
    } // .inputItem {
    // float: left;
    // }
    .box {
        position: relative;
        float: left;
        width: 8%;
        margin: .5%;
        padding-top: 8%;
        background: #fff;
        i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            border: 0;
            font-style: normal;
            border-radius: 0;
            text-align: center;
            font-size: 20px;
            font-size: 6vw;
            box-sizing: border-box;
        }
    }
    // .popup {
    //     z-index: 2;
    //     position: fixed; // width: 400px;
    //     // margin-left: -50%;
    //     padding: 5%;
    //     color: #fff;
    //     background: rgba(0, 0, 0, .7);
    // }
}
